@import "tailwindcss";

:root {
  --background: #040115;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #040115;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.bg-neon {
  background: radial-gradient(circle at top center, rgba(0, 102, 255, 0.25), transparent 60%),
              radial-gradient(circle at bottom center, rgba(174, 0, 255, 0.25), transparent 60%),
              linear-gradient(180deg, #0b0f27, #050518);
}
